// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movies_list{
  width: 75%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      font-size: 22px;
      padding: 5px;
  }
  a:link, a:visited {
    background-color: white;
    color: #444;
    border: 2px solid #444;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: #444;
    color: white;
  }
}
.movies_new{
  padding: 2px;
  float: right;
  font-size: 25px;
  a:link, a:visited {
    background-color: #444;
    color: white;
    border: 2px solid #444;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: white;
    color: #444;
  }
}

.movies_show{
  text-align:center;
  height: 400px;
  width: 85%;
}
.movies_show_commands{
  float: right;
  height: 200px;
  width: 15%;
  ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
      font-size: 22px;
      padding: 5px;
  }
  a:link, a:visited {
    background-color: #444;
    color: white;
    border: 2px solid #444;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: white;
    color: #444;
  }
}
.movies_show_title{
  font-size: 50px;
}

.new_movie{
  background-color: #f2f2f2;
  padding: 20px;
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #444;
    box-sizing: border-box;
  }

}

.new_movie_title{
    text-align: center;
}

.new_movie_back{
    background-color: pink;
    float: right;
    a:link, a:visited {
        background-color: #444;
        color: white;
        border: 2px solid #444;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
  }

    a:hover, a:active {
        background-color: white;
        color: #444;
    }
}

#reviews {
  border-collapse: collapse;
  width: 100%;
}

#reviews td, #reviews th {
  border: 1px solid #444;
  padding: 8px;
}

#reviews tr:nth-child(even){
    background-color: #f2f2f2;
}

#reviews tr:hover {
    background-color: #ddd;
    }

#reviews th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}








